$primary-color: #ff3e4e;
$primary-color-light: #ff3e4e1a;
$secondary-color-dark: #a5a5a5;
$secondary-color: #fcfcfc;
$font-color-primary: #1d1d1d;
$border-color: #e8e8e8;
$background-color: #dff3fb;

$border-radius: 8px;
$font-size: 24px;

$md: 768px;
