@import "src/styles/variables";
.card {
  border-radius: 8px;
  background-color: $secondary-color;
  opacity: 1;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .cardImage {
    display: flex;
    justify-content: center;
    img {
      height: 220px;
      width: 220px;
      margin: 40px;
    }
  }
}

.titleBox {
  background-color: $primary-color;
  color: $secondary-color;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
