@import "src/styles/variables";

body {
  font-family: "Sofia Pro, Regular";
  background-color: $background-color;
  height: 100vh;
}

a {
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
