@import "src/styles/variables";

.containerStyles {
  background-color: $primary-color-light;
  border-radius: $border-radius;
  width: 300px;
  font-size: 20px;
  color: $secondary-color;
  height: 48px;
  margin: 10px;
}

.fillerStyles {
  height: "100%";
  background-color: $primary-color;
  border-radius: $border-radius;
  text-align: "right";
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.labelStyles {
  color: "white";
  font-weight: "bold";
}
